Node-Red/DatabaseIntegrationWithoutWasteBins.json
[
    {
        "id": "51afc7fb96d791a5",
        "type": "tab",
        "label": "WasteBin",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c78410e593e0674",
        "type": "tab",
        "label": "DataBase",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ad8dfc7397ae9ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#7a0de7",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#7a0de7",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7a0de7",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a04cf5",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#7a0de7",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "WasteBinDashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b924d64887cda7b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.111.237",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c548a6d.a13c28",
        "type": "ui_group",
        "name": "WasteBin1",
        "tab": "cfab1c69.f6155",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfab1c69.f6155",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c10595c0798f382b",
        "type": "ui_group",
        "name": "WasteBin2",
        "tab": "cfab1c69.f6155",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd7f8134e015a1cb",
        "type": "sqlitedb",
        "db": "C:/Users/crtak/HAN/S6 projects 22-23 - Insyte - Insyte/ESE/Software/WasteBinData.db",
        "mode": "RWC"
    },
    {
        "id": "34054411.bf9404",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "af28d9ff.77c448",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1ca91a28.3d3bb3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "35b703767fd51a58",
        "type": "mqtt in",
        "z": "51afc7fb96d791a5",
        "name": "",
        "topic": "/data/sensors/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b924d64887cda7b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "d3bff939a4652af4",
                "4d289c0ed6ebf41a"
            ]
        ]
    },
    {
        "id": "9baff2b2.98d3f",
        "type": "switch",
        "z": "51afc7fb96d791a5",
        "name": "Device payload sorting",
        "property": "payload.macAdress",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "58:CF:79:15:8A:0C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "58:CF:79:16:7A:F4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "33bca2e74c12a276"
            ],
            [
                "b98be6f22dab464d"
            ],
            [
                "b3db3b96.9f6a48"
            ]
        ]
    },
    {
        "id": "b3db3b96.9f6a48",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "Device not recognized",
        "func": "msg.payload.device = \"unknown device\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d3bff939a4652af4",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "RAW INPUT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 400,
        "wires": []
    },
    {
        "id": "ecf1c503.e872a",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "macAddress",
        "label": "macAddress",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "28fb662c.145a2a",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "temperature",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "a84ab153.3f3fe",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "humidity",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f0d768a.e17506",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "lid_position",
        "label": "lid position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "e5b242623802a3c6",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "6c548a6d.a13c28",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "24c342465734bd7c",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "6c548a6d.a13c28",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "33bca2e74c12a276",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "Seperate data",
        "func": "let inputObj = msg.payload;\nlet macAddress = inputObj.macAdress;\nlet temperature = inputObj.temperature;\nlet humidity = inputObj.humidity;\nlet lidPosition = inputObj.lid_position;\nlet timestamp = inputObj.timestamp;\n\nreturn [\n    { payload: macAddress },\n    { payload: temperature },\n    { payload: humidity },\n    { payload: lidPosition },\n    { payload: timestamp }\n];\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "ecf1c503.e872a"
            ],
            [
                "28fb662c.145a2a",
                "e5b242623802a3c6",
                "4183d9bac8bb04e9"
            ],
            [
                "a84ab153.3f3fe",
                "24c342465734bd7c"
            ],
            [
                "2f0d768a.e17506"
            ],
            [
                "ec666c2748415c7f"
            ]
        ]
    },
    {
        "id": "4183d9bac8bb04e9",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "WasteBin1Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6513adb4d4ecc9b",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "macAddress",
        "label": "macAddress",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "32d26ed33c736f75",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "temperature",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "80d528e340c256d8",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "humidity",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "584b5b2c3477c69d",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "lid_position",
        "label": "lid position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "013a9a3eb5abba4b",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "c10595c0798f382b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ae1c6256c227008a",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "c10595c0798f382b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b98be6f22dab464d",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "Seperate data",
        "func": "let inputObj = msg.payload;\nlet macAddress = inputObj.macAdress;\nlet temperature = inputObj.temperature;\nlet humidity = inputObj.humidity;\nlet lidPosition = inputObj.lid_position;\nlet timestamp = inputObj.timestamp;\n\nreturn [\n    { payload: macAddress },\n    { payload: temperature },\n    { payload: humidity },\n    { payload: lidPosition },\n    { payload: timestamp }\n];\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 520,
        "wires": [
            [
                "b6513adb4d4ecc9b"
            ],
            [
                "32d26ed33c736f75",
                "013a9a3eb5abba4b",
                "4b8429f7b29a9911"
            ],
            [
                "80d528e340c256d8",
                "ae1c6256c227008a"
            ],
            [
                "584b5b2c3477c69d"
            ],
            [
                "33ca2a6db50382ae"
            ]
        ]
    },
    {
        "id": "4b8429f7b29a9911",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "WasteBin2Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "4d289c0ed6ebf41a",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "Add Timestamp",
        "func": "// Create a new Date object and format it as a string\nvar timestamp = new Date().toISOString();\n\n// Add the timestamp property to the payload\nmsg.payload.timestamp = timestamp;\n\n// Pass the message on to the next node\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "9baff2b2.98d3f"
            ]
        ]
    },
    {
        "id": "ec666c2748415c7f",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timestamp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "33ca2a6db50382ae",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timestamp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "70b2bca10495fd1f",
        "type": "sqlite",
        "z": "1c78410e593e0674",
        "mydb": "dd7f8134e015a1cb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO Sensors (id, name, sensorvalue, unit, timestamp) VALUES ($val0, $val1, $val2, $val3, datetime(\"now\"))\n",
        "name": "",
        "x": 880,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3fa3842a32316b76",
        "type": "function",
        "z": "1c78410e593e0674",
        "name": "function 3",
        "func": "msg.topic = \"INSERT INTO Sensors(id, name, sensorvalue, unit, timestamp) VALUES($val0, $val1, $val2, $val3, datetime(\\\"now\\\"))\";\n\nvar obj = msg.payload;\nvar values = [obj.id, obj.name, obj.sensorvalue, obj.unit];\n\nmsg.params = values;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "70b2bca10495fd1f",
                "196e1ffaeddefa85"
            ]
        ]
    },
    {
        "id": "196e1ffaeddefa85",
        "type": "debug",
        "z": "1c78410e593e0674",
        "name": "sql out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "2935786c333e67d3",
        "type": "inject",
        "z": "1c78410e593e0674",
        "name": "Insert JSON object",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"T1\",\"name\":\"temperature\",\"sensorvalue\":25,\"unit\":\"C\",\"timestamp\":\"2023-04-24T12:34:56Z\"}",
        "payloadType": "json",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "3fa3842a32316b76"
            ]
        ]
    }
]