Node-Red/flows (1).json
[
    {
        "id": "51afc7fb96d791a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ad8dfc7397ae9ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#7a0de7",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#7a0de7",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7a0de7",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a04cf5",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#7a0de7",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "WasteBinDashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a97a7e2353819c22",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "617496e9f7aa3b36",
        "type": "ui_group",
        "name": "SensorData(text)",
        "tab": "116f7864b0d4d0a1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "116f7864b0d4d0a1",
        "type": "ui_tab",
        "name": "WasteBin",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74b0dcced494f8e9",
        "type": "ui_group",
        "name": "SensorData(charts)",
        "tab": "116f7864b0d4d0a1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf76d09581168833",
        "type": "mqtt in",
        "z": "51afc7fb96d791a5",
        "name": "",
        "topic": "ESEiot/test/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a97a7e2353819c22",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "0e0c9ccc1938320f"
            ]
        ]
    },
    {
        "id": "cc800b6c68fe39de",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "debug Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "0e0c9ccc1938320f",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "function 1",
        "func": "// assume the MQTT message is received by the node-red function in the `msg.payload` object\nvar message = msg.payload;\n\n// parse the message and extract the values of the variables\nvar tempd = parseFloat(message.match(/tempd = (\\d+\\.?\\d*)/)[1]);\nvar presd = parseFloat(message.match(/presd = (\\d+\\.?\\d*)/)[1]);\nvar litd = message.match(/litd = (true|false)/)[1] === 'true';\n\n// create three output messages with the values of the variables\nvar tempMsg = { payload: tempd };\nvar presMsg = { payload: presd };\nvar litMsg = { payload: litd };\n\n// send the output messages to three different text outputs\nreturn [tempMsg, presMsg, litMsg];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "93d5551e2426dc5c",
                "39a5ea5808008f5d"
            ],
            [
                "2178cc0f9fe7bca8",
                "7c96c09fc6755766"
            ],
            [
                "e1f79b88974d63ac"
            ]
        ]
    },
    {
        "id": "7c96c09fc6755766",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "617496e9f7aa3b36",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AirPressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "93d5551e2426dc5c",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "617496e9f7aa3b36",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "e1f79b88974d63ac",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "617496e9f7aa3b36",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Litposition",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "2178cc0f9fe7bca8",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "74b0dcced494f8e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "AirPressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "39a5ea5808008f5d",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "74b0dcced494f8e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 300,
        "wires": [
            []
        ]
    }
]