Node-Red/flows.json
[
    {
        "id": "51afc7fb96d791a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf76d09581168833",
        "type": "mqtt in",
        "z": "51afc7fb96d791a5",
        "name": "",
        "topic": "ESEiot/test/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a97a7e2353819c22",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "cc800b6c68fe39de",
                "5812de0142550606",
                "68f82c0cd788f9ff",
                "2a6cd9f3d7064a8b"
            ]
        ]
    },
    {
        "id": "cc800b6c68fe39de",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 20,
        "wires": []
    },
    {
        "id": "5812de0142550606",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "b1fc035f5a0d8360",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "68f82c0cd788f9ff",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "d601785ea8820283",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "2a6cd9f3d7064a8b",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "39077f0af20dad6f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Litposition",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "a97a7e2353819c22",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1fc035f5a0d8360",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "903674072a163245",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d601785ea8820283",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "903674072a163245",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "39077f0af20dad6f",
        "type": "ui_group",
        "name": "Litposition",
        "tab": "903674072a163245",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "903674072a163245",
        "type": "ui_tab",
        "name": "Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]