Node-Red/Multiple WasteBinPrototypeSotware flows.json
[
    {
        "id": "51afc7fb96d791a5",
        "type": "tab",
        "label": "WasteBin",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35b703767fd51a58",
        "type": "mqtt in",
        "z": "51afc7fb96d791a5",
        "name": "",
        "topic": "/data/sensors/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b924d64887cda7b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "d3bff939a4652af4",
                "9baff2b2.98d3f"
            ]
        ]
    },
    {
        "id": "9baff2b2.98d3f",
        "type": "switch",
        "z": "51afc7fb96d791a5",
        "name": "Device payload sorting",
        "property": "payload.macAdress",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "58:CF:79:15:8A:0C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "58:CF:79:16:7A:F4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "33bca2e74c12a276"
            ],
            [
                "b98be6f22dab464d"
            ],
            [
                "b3db3b96.9f6a48"
            ]
        ]
    },
    {
        "id": "b3db3b96.9f6a48",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "Device not recognized",
        "func": "msg.payload.device = \"unknown device\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d3bff939a4652af4",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "RAW INPUT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 380,
        "wires": []
    },
    {
        "id": "ecf1c503.e872a",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "macAddress",
        "label": "macAddress",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "28fb662c.145a2a",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "temperature",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "a84ab153.3f3fe",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "humidity",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f0d768a.e17506",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "6c548a6d.a13c28",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "lid_position",
        "label": "lid position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "e5b242623802a3c6",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "6c548a6d.a13c28",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "24c342465734bd7c",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "6c548a6d.a13c28",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "33bca2e74c12a276",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "Seperate data",
        "func": "let inputObj = msg.payload;\nlet macAddress = inputObj.macAdress;\nlet temperature = inputObj.temperature;\nlet humidity = inputObj.humidity;\nlet lidPosition = inputObj.lid_position;\n\nreturn [\n    { payload: macAddress },\n    { payload: temperature },\n    { payload: humidity },\n    { payload: lidPosition }\n];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "ecf1c503.e872a"
            ],
            [
                "28fb662c.145a2a",
                "e5b242623802a3c6",
                "4183d9bac8bb04e9"
            ],
            [
                "a84ab153.3f3fe",
                "24c342465734bd7c"
            ],
            [
                "2f0d768a.e17506"
            ]
        ]
    },
    {
        "id": "4183d9bac8bb04e9",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6513adb4d4ecc9b",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "macAddress",
        "label": "macAddress",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "32d26ed33c736f75",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "temperature",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "80d528e340c256d8",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "humidity",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "584b5b2c3477c69d",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "c10595c0798f382b",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "lid_position",
        "label": "lid position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "013a9a3eb5abba4b",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "c10595c0798f382b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ae1c6256c227008a",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "c10595c0798f382b",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b98be6f22dab464d",
        "type": "function",
        "z": "51afc7fb96d791a5",
        "name": "Seperate data",
        "func": "let inputObj = msg.payload;\nlet macAddress = inputObj.macAdress;\nlet temperature = inputObj.temperature;\nlet humidity = inputObj.humidity;\nlet lidPosition = inputObj.lid_position;\n\nreturn [\n    { payload: macAddress },\n    { payload: temperature },\n    { payload: humidity },\n    { payload: lidPosition }\n];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 520,
        "wires": [
            [
                "b6513adb4d4ecc9b"
            ],
            [
                "32d26ed33c736f75",
                "013a9a3eb5abba4b",
                "4b8429f7b29a9911"
            ],
            [
                "80d528e340c256d8",
                "ae1c6256c227008a"
            ],
            [
                "584b5b2c3477c69d"
            ]
        ]
    },
    {
        "id": "4b8429f7b29a9911",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "b924d64887cda7b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.111.237",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c548a6d.a13c28",
        "type": "ui_group",
        "name": "WasteBin1",
        "tab": "cfab1c69.f6155",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c10595c0798f382b",
        "type": "ui_group",
        "name": "WasteBin2",
        "tab": "cfab1c69.f6155",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfab1c69.f6155",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]