Node-Red/Multiple WasteBinsConnectedToDatabase.json
[
    {
        "id": "d2a6041049ed0690",
        "type": "tab",
        "label": "WasteBin",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ad8dfc7397ae9ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#7a0de7",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#7a0de7",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7a0de7",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a04cf5",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#7a0de7",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "WasteBinDashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b924d64887cda7b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.111.237",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c548a6d.a13c28",
        "type": "ui_group",
        "name": "WasteBin1",
        "tab": "cfab1c69.f6155",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfab1c69.f6155",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dd7f8134e015a1cb",
        "type": "sqlitedb",
        "db": "C:/Users/crtak/HAN/S6 projects 22-23 - Insyte - Insyte/ESE/Software/WasteBinData.db",
        "mode": "RWC"
    },
    {
        "id": "13f9f82a3f9e1545",
        "type": "ui_group",
        "name": "WasteBin2",
        "tab": "cfab1c69.f6155",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30ebf3a3fb5c10be",
        "type": "mqtt in",
        "z": "d2a6041049ed0690",
        "name": "",
        "topic": "/data/sensors/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b924d64887cda7b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "d769c1a01246e70e",
                "6896f9f165fc2c02"
            ]
        ]
    },
    {
        "id": "5e5edfbf7317979f",
        "type": "switch",
        "z": "d2a6041049ed0690",
        "name": "Device payload sorting",
        "property": "payload.macAdress",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "58:CF:79:15:8A:0C",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "58:CF:79:16:7A:F4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "86b73af98d681054"
            ],
            [
                "b17dd7413d09b671"
            ],
            [
                "6ca56f622dc1609e"
            ]
        ]
    },
    {
        "id": "6ca56f622dc1609e",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "Device not recognized",
        "func": "msg.payload.device = \"unknown device\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d769c1a01246e70e",
        "type": "debug",
        "z": "d2a6041049ed0690",
        "name": "RAW INPUT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 400,
        "wires": []
    },
    {
        "id": "a7fbf22f726c53fb",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "6c548a6d.a13c28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "macAddress",
        "label": "macAddress",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "58a58231fbbf6f90",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "6c548a6d.a13c28",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "temperature",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "388ff0e527d1c2dc",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "6c548a6d.a13c28",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "humidity",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "22d34a32a75258e7",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "6c548a6d.a13c28",
        "order": 7,
        "width": "0",
        "height": "0",
        "name": "lid_position",
        "label": "lid position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "24037a0513bd8327",
        "type": "ui_chart",
        "z": "d2a6041049ed0690",
        "name": "",
        "group": "6c548a6d.a13c28",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "aa73a8bb663fac29",
        "type": "ui_chart",
        "z": "d2a6041049ed0690",
        "name": "",
        "group": "6c548a6d.a13c28",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "86b73af98d681054",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "Seperate data",
        "func": "let inputObj = msg.payload;\nlet macAddress = inputObj.macAdress;\nlet temperature = inputObj.temperature;\nlet humidity = inputObj.humidity;\nlet lidPosition = inputObj.lid_position;\nlet timestamp = inputObj.timestamp;\n\nreturn [\n    { payload: macAddress },\n    { payload: temperature},\n    { payload: humidity },\n    { payload: lidPosition},\n    { payload: timestamp },\n\n    { payload: { temperature, macAddress } },\n    { payload: { humidity, macAddress } },\n    { payload: { lidPosition, macAddress } },\n];\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "a7fbf22f726c53fb"
            ],
            [
                "58a58231fbbf6f90",
                "24037a0513bd8327"
            ],
            [
                "388ff0e527d1c2dc",
                "aa73a8bb663fac29"
            ],
            [
                "22d34a32a75258e7"
            ],
            [
                "a94b77f1d62bbc2f"
            ],
            [
                "69b5065aca0893da"
            ],
            [
                "748eec21c3cb16ad"
            ],
            [
                "79242d62f712fb59"
            ]
        ]
    },
    {
        "id": "6896f9f165fc2c02",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "Add Timestamp",
        "func": "// Create a new Date object and format it as a string\nvar timestamp = new Date().toISOString();\n\n// Add the timestamp property to the payload\nmsg.payload.timestamp = timestamp;\n\n// Pass the message on to the next node\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "5e5edfbf7317979f"
            ]
        ]
    },
    {
        "id": "a94b77f1d62bbc2f",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "6c548a6d.a13c28",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timestamp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "6ef8959c9ce8745f",
        "type": "sqlite",
        "z": "d2a6041049ed0690",
        "mydb": "dd7f8134e015a1cb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO sensordata (mac_address, sensor_idnr, sensor_value, timestamp) VALUES ($val0, $val1, $val2, datetime(\"now\"))\n",
        "name": "",
        "x": 1680,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "69b5065aca0893da",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "prepdatafordatabase",
        "func": "var sensor_idnr = 1; // temperature sensor\nvar sensor_value = msg.payload.temperature;\nvar mac_address = msg.payload.macAddress;\n\nvar sql = \"INSERT INTO sensordata(mac_address, sensor_idnr, sensor_value, timestamp) VALUES (?, ?, ?, datetime(\\\"now\\\"))\";\nvar values = [mac_address, sensor_idnr, sensor_value];\n\nmsg.topic = sql;\nmsg.params = values;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 140,
        "wires": [
            [
                "6ef8959c9ce8745f"
            ]
        ]
    },
    {
        "id": "748eec21c3cb16ad",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "prepdatafordatabase",
        "func": "var sensor_idnr = 2; // humidity sensor\nvar sensor_value = msg.payload.humidity;\nvar mac_address = msg.payload.macAddress;\n\nvar sql = \"INSERT INTO sensordata(mac_address, sensor_idnr, sensor_value, timestamp) VALUES (?, ?, ?, datetime(\\\"now\\\"))\";\nvar values = [mac_address, sensor_idnr, sensor_value];\n\nmsg.topic = sql;\nmsg.params = values;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 200,
        "wires": [
            [
                "e6f97a3deb857ad2"
            ]
        ]
    },
    {
        "id": "e6f97a3deb857ad2",
        "type": "sqlite",
        "z": "d2a6041049ed0690",
        "mydb": "dd7f8134e015a1cb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO sensordata (mac_address, sensor_idnr, sensor_value, timestamp) VALUES ($val0, $val1, $val2, datetime(\"now\"))\n",
        "name": "",
        "x": 1680,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "79242d62f712fb59",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "prepdatafordatabase",
        "func": "var sensor_idnr = 3; // lidposition sensor\nvar sensor_value = msg.payload.lidPosition;\nvar mac_address = msg.payload.macAddress;\n\nvar sql = \"INSERT INTO sensordata(mac_address, sensor_idnr, sensor_value, timestamp) VALUES (?, ?, ?, datetime(\\\"now\\\"))\";\nvar values = [mac_address, sensor_idnr, sensor_value];\n\nmsg.topic = sql;\nmsg.params = values;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 260,
        "wires": [
            [
                "64539fa3019ae922"
            ]
        ]
    },
    {
        "id": "64539fa3019ae922",
        "type": "sqlite",
        "z": "d2a6041049ed0690",
        "mydb": "dd7f8134e015a1cb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO sensordata (mac_address, sensor_idnr, sensor_value, timestamp) VALUES ($val0, $val1, $val2, datetime(\"now\"))\n",
        "name": "",
        "x": 1680,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "286e1cc5395287cd",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "13f9f82a3f9e1545",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "macAddress",
        "label": "macAddress",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "550d6bab3595c6bd",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "13f9f82a3f9e1545",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "temperature",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "7bf53932255df88c",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "13f9f82a3f9e1545",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "humidity",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "72dd0b80672b0cd7",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "13f9f82a3f9e1545",
        "order": 10,
        "width": "0",
        "height": "0",
        "name": "lid_position",
        "label": "lid position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "9b48abde923da9a0",
        "type": "ui_chart",
        "z": "d2a6041049ed0690",
        "name": "",
        "group": "13f9f82a3f9e1545",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4db852e60f9617f3",
        "type": "ui_chart",
        "z": "d2a6041049ed0690",
        "name": "",
        "group": "13f9f82a3f9e1545",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b17dd7413d09b671",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "Seperate data",
        "func": "let inputObj = msg.payload;\nlet macAddress = inputObj.macAdress;\nlet temperature = inputObj.temperature;\nlet humidity = inputObj.humidity;\nlet lidPosition = inputObj.lid_position;\nlet timestamp = inputObj.timestamp;\n\nreturn [\n    { payload: macAddress },\n    { payload: temperature},\n    { payload: humidity },\n    { payload: lidPosition},\n    { payload: timestamp },\n\n    { payload: { temperature, macAddress } },\n    { payload: { humidity, macAddress } },\n    { payload: { lidPosition, macAddress } },\n];\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "286e1cc5395287cd"
            ],
            [
                "550d6bab3595c6bd",
                "9b48abde923da9a0"
            ],
            [
                "7bf53932255df88c",
                "4db852e60f9617f3"
            ],
            [
                "72dd0b80672b0cd7"
            ],
            [
                "bc45b5dc8138692d"
            ],
            [
                "fa20edb5a6f671e9"
            ],
            [
                "2bdbf802e49e06b7"
            ],
            [
                "4736f09dd29dbdb4"
            ]
        ]
    },
    {
        "id": "bc45b5dc8138692d",
        "type": "ui_text",
        "z": "d2a6041049ed0690",
        "group": "13f9f82a3f9e1545",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timestamp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "f5d28deabe332574",
        "type": "sqlite",
        "z": "d2a6041049ed0690",
        "mydb": "dd7f8134e015a1cb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO sensordata (mac_address, sensor_idnr, sensor_value, timestamp) VALUES ($val0, $val1, $val2, datetime(\"now\"))\n",
        "name": "",
        "x": 1680,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "fa20edb5a6f671e9",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "prepdatafordatabase",
        "func": "var sensor_idnr = 1; // temperature sensor\nvar sensor_value = msg.payload.temperature;\nvar mac_address = msg.payload.macAddress;\n\nvar sql = \"INSERT INTO sensordata(mac_address, sensor_idnr, sensor_value, timestamp) VALUES (?, ?, ?, datetime(\\\"now\\\"))\";\nvar values = [mac_address, sensor_idnr, sensor_value];\n\nmsg.topic = sql;\nmsg.params = values;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "f5d28deabe332574"
            ]
        ]
    },
    {
        "id": "2bdbf802e49e06b7",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "prepdatafordatabase",
        "func": "var sensor_idnr = 2; // humidity sensor\nvar sensor_value = msg.payload.humidity;\nvar mac_address = msg.payload.macAddress;\n\nvar sql = \"INSERT INTO sensordata(mac_address, sensor_idnr, sensor_value, timestamp) VALUES (?, ?, ?, datetime(\\\"now\\\"))\";\nvar values = [mac_address, sensor_idnr, sensor_value];\n\nmsg.topic = sql;\nmsg.params = values;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 560,
        "wires": [
            [
                "f5f38c500d2f72b0"
            ]
        ]
    },
    {
        "id": "f5f38c500d2f72b0",
        "type": "sqlite",
        "z": "d2a6041049ed0690",
        "mydb": "dd7f8134e015a1cb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO sensordata (mac_address, sensor_idnr, sensor_value, timestamp) VALUES ($val0, $val1, $val2, datetime(\"now\"))\n",
        "name": "",
        "x": 1680,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4736f09dd29dbdb4",
        "type": "function",
        "z": "d2a6041049ed0690",
        "name": "prepdatafordatabase",
        "func": "var sensor_idnr = 3; // lidposition sensor\nvar sensor_value = msg.payload.lidPosition;\nvar mac_address = msg.payload.macAddress;\n\nvar sql = \"INSERT INTO sensordata(mac_address, sensor_idnr, sensor_value, timestamp) VALUES (?, ?, ?, datetime(\\\"now\\\"))\";\nvar values = [mac_address, sensor_idnr, sensor_value];\n\nmsg.topic = sql;\nmsg.params = values;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 620,
        "wires": [
            [
                "5b3cae6ecfa4611b"
            ]
        ]
    },
    {
        "id": "5b3cae6ecfa4611b",
        "type": "sqlite",
        "z": "d2a6041049ed0690",
        "mydb": "dd7f8134e015a1cb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO sensordata (mac_address, sensor_idnr, sensor_value, timestamp) VALUES ($val0, $val1, $val2, datetime(\"now\"))\n",
        "name": "",
        "x": 1680,
        "y": 620,
        "wires": [
            []
        ]
    }
]