Node-Red/WasteBinPrototypeSotware flows.json
[
    {
        "id": "51afc7fb96d791a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35b703767fd51a58",
        "type": "mqtt in",
        "z": "51afc7fb96d791a5",
        "name": "",
        "topic": "WasteBin/Temp/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b924d64887cda7b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "a3e3177a6919652b",
                "bbe0128a330064f7",
                "ad9f0e0f598be4e6"
            ]
        ]
    },
    {
        "id": "a3e3177a6919652b",
        "type": "debug",
        "z": "51afc7fb96d791a5",
        "name": "debug Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "6167667f1e77fb8c",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "617496e9f7aa3b36",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "ad9f0e0f598be4e6",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "617496e9f7aa3b36",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "3f4baf5432546445",
        "type": "ui_text",
        "z": "51afc7fb96d791a5",
        "group": "617496e9f7aa3b36",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Litposition",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "7ccd78edd62b8baf",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "74b0dcced494f8e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bbe0128a330064f7",
        "type": "ui_chart",
        "z": "51afc7fb96d791a5",
        "name": "",
        "group": "74b0dcced494f8e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "862dba2cd8dc316a",
        "type": "mqtt in",
        "z": "51afc7fb96d791a5",
        "name": "",
        "topic": "WasteBin/Humid/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b924d64887cda7b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 300,
        "wires": [
            [
                "a3e3177a6919652b",
                "7ccd78edd62b8baf",
                "6167667f1e77fb8c"
            ]
        ]
    },
    {
        "id": "9dbbe6eff494736e",
        "type": "mqtt in",
        "z": "51afc7fb96d791a5",
        "name": "",
        "topic": "WasteBin/LidP/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b924d64887cda7b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "a3e3177a6919652b",
                "3f4baf5432546445"
            ]
        ]
    },
    {
        "id": "b924d64887cda7b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.111.237",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "617496e9f7aa3b36",
        "type": "ui_group",
        "name": "SensorData(text)",
        "tab": "116f7864b0d4d0a1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74b0dcced494f8e9",
        "type": "ui_group",
        "name": "SensorData(charts)",
        "tab": "116f7864b0d4d0a1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "116f7864b0d4d0a1",
        "type": "ui_tab",
        "name": "WasteBin",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]